body {
	font-family: 'Helvetica';
	font-size: 25px;
	background-image: url("gaming-pattern.png");
}

div.navbar {
	background: #393939;
	margin: auto;
	text-align: center;
	border-radius: 25px;
	
	/* Making Nav sticky */
	/* position: -webkit-sticky;
  position: sticky;
  top: 0; */
}

div.navbar li {
	display: inline-block;
}

div.navbar li a {
	color: #fff;
	text-decoration: none;
	font-size: 25px;
	font-family: 'Helvetica';
	display: block;
	padding: 30px 15px;
  transition: 2s;
}

div.navbar li a:hover {
	color: #9b5bcc;
	background-color: #000;
}

div.container {
	width: 60%;
	margin: auto;
}

div.main {
	background-color: #cecece;
	width: 100%;
	margin: auto;
	padding: 10px 0px;
	border-radius: 25px;
	margin-right: 0px;
	margin-bottom: 30px;
	text-align: center;
}

h2 {
	/* color: #50ed58; */
	margin: 0px;
	color: #9b5bcc;
	font-size: 50px;
	font-family: 'Trebuchet MS';
	text-shadow: 2px 2px #000;
	text-align: center;
}

img.avatar {
	border-radius: 50%;
}

div.projects {
	background-color: #cecece;
	float: left;
	width: 48.5%;
	padding: 10px 0px;
	border-radius: 25px;
}

div.blog {
	background-color: #cecece;
	margin-left: 51.5%;
	width: 48.5%;
	padding: 10px 0px;
	border-radius: 25px;
}

